<!-- // ************************************************************************************************************************************************** -->
<!-- // HOME HEADING START-->
<h2 nz-typography>Dashboard</h2>
<nz-divider></nz-divider>
<!-- // HOME HEADING END-->
<!-- // ************************************************************************************************************************************************** -->

<div class="section">
    <div>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <span class="breadcrumb_text">Home</span>
            </nz-breadcrumb-item>

        </nz-breadcrumb>
        <p></p>


        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <nz-card>
                    <p style="font-size: 18px;">ITunes Music</p>
                    <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder"
                                    [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
                                    [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter"
                                    [nzFilterFn]="column.filterFn">
                                    {{ column.name }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of filterTable.data">
                                <td>{{ data.artistId }}</td>
                                <td>{{ data.artistName }}</td>
                                <td>{{ data.country }}</td>
                                <td><a [href]="data.previewUrl" target="_blank">{{ "Watch" }}</a></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-card>
            </div>
        </div>
    </div>